
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoAccess</title>
</head>
<body>
    <div>
        <h3> <i> ------------------   You Dont Have Access    ----------------------- </i> </h3>
    </div>
</body>
</html>
